@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%; /* neutral-100, #f5f5f5 */
    --foreground: 0 0% 100%; /* white, #ffffff */

    --primary: 180 42% 66%; /* #83cccc */

    /**
     * DARK MODE
     */
    --dark-background: 212 55% 18%; /* lighter, #152D49 */
    --dark-foreground: 216 53% 16%; /* darker, #13243D */
  }
}
